DataBase/
DataBase_AMES/
GraphDataBase_AMES/
QM9ERHGraphDataBase/
AMES/__pycache__/
MTL_publication/
AMES/runs/
AMES/logs/
AMES/__pycache__/
AMES/data.csv
AMES/.ipynb_checkpoints
AMES/visualize_graphs.ipynb
molecule_db-dev/
AMES/predictions_TF.csv
AMES/predictions_pytorch.csv
*.csv
*.zip
*.pyc
*.pkl
*.pyo
*.log
*.tar
