DataBase/
DataBase_AMES/
GraphDataBase_AMES/
GraphDataBase_AMES_global/
GraphDataBase_AMES_global_extra/
QM9ERHGraphDataBase/
AMES/__pycache__/
MTL_publication/
AMES/runs/
AMES/logs/
AMES/data.csv
AMES/.ipynb_checkpoints
AMES/visualize_graphs.ipynb
AMES/output/
moleculedb-dev/
AMES/predictions_TF.csv
AMES/predictions_Torch.csv
AMES/loss/
AMES/lib/
AMES/optuna/
AMES/checkpoints/
AMES/metrics/
AMES/output_seed_8_20_25/
AMES/performance/
AMES/output_seed_SAVE/
AMES/output_crossfold_val/
*.pt
*.csv
*.zip
*.pyc
*.pkl
*.pyo
*.log
*.tar
*.xlsx
