DataBase/
Database_AMES/FILES_DEV
Additional_data/
GraphDataBase_AMES/
GraphDataBase_AMES_global/
GraphDataBase_AMES_global_extra/
GraphDataBase_AMES_additional_data/
QM9ERHGraphDataBase/
AMES/__pycache__/
MTL_publication/
AMES_1081629/
AMES/runs/
AMES/logs/
AMES/data.csv
AMES/.ipynb_checkpoints
AMES/visualize_graphs.ipynb
AMES/output/
moleculedb-dev/
AMES/predictions_TF.csv
AMES/predictions_Torch.csv
AMES/loss/
AMES/lib/
AMES/optuna/
AMES/checkpoints/
AMES/metrics/
AMES/output_seed_8_20_25/
AMES/performance/
AMES/output_seed_SAVE/
AMES/output_crossfold_val/
AMES/paper_submission/
AMES/output/
AMES/MTL_GNN_for_AMES_Mutagenicity_Prediction/
*.DS_Store
*.pt
*.csv
*.zip
*.pyc
*.pkl
*.pyo
*.log
*.tar
*.tar.gz
*.xlsx
*.xls
*.png
*.jpg
*.pdf
*.docx
